html {
  margin: 0;
  padding: 0;
}

img {
  z-index: -1;
  top: 0;
  left: 0;
}

div.text-sample1 {
  position: relative;
}

p {
  margin: 0;
  padding: 0;
}

span.word1 {
  position: absolute;
  top: 250px;
  left: 625px;
  font-size: 48px;
  font-family: Helvetica;
  color: white;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

span.word2 {
  position: absolute;
  top: 300px;
  left: 625px;
  font-size: 48px;
  font-family: Helvetica;
  color: white;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

span.word3 {
  position: absolute;
  top: 300px;
  left: 700px;
  font-size: 48px;
  font-family: Helvetica;
  color: white;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}
